# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
fastcore
ghapi
lfdocs-conf~=0.9
reno~=4.1.0
Sphinx~=6.1.3
sphinx-rtd-theme~=3.0.2
typer
