---
name: PyPI release

# yamllint disable-line rule:truthy
on:
  push:
    # Only invoked on release tag pushes
    tags:
      - v*.*.*

env:
  python-version: 3.11

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: mandatory for Sigstore
      id-token: write
    steps:
      ### BUILDING ###
      - name: Checkout repository
        # yamllint disable-line rule:line-length
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Configure Python
        # yamllint disable-line rule:line-length
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ env.python-version }}

      - name: Build package distribution files
        run: >-
          pipx run tox -e clean,build

      ### SIGNING ###

      - name: Sign pacakges with Sigstore
        # yamllint disable-line rule:line-length
        uses: sigstore/gh-action-sigstore-python@a5caf349bc536fbef3668a10ed7f5cd309a4b53d  # v3.2.0
        with:
          inputs: >-
            ./dist/*.tar.gz
            ./dist/*.whl

      - name: Store the distribution packages
        # yamllint disable-line rule:line-length
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: ${{ github.ref_name }}
          path: dist/

  publish:
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: mandatory for Sigstore and for PyPI publishing
      id-token: write
    steps:
      ### BUILDING ###
      - name: Checkout repository
        # yamllint disable-line rule:line-length
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Configure Python
        # yamllint disable-line rule:line-length
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ env.python-version }}

      - name: Build package distribution files
        run: >-
          pipx run tox -e clean,build

      - name: Publish to PyPI
        # yamllint disable-line rule:line-length
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
